* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
nav{
    position: absolute;
    
    background-color: #0082e6;
    height: 80px;
    width: 100%;
    
}
nav ul{
    float: right;
     margin-right: 250px;
     
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
        padding: 20px;
    
      }
      nav ul li a{
        border-radius: 10px;
        color: white;
        font-size: 17px;
        text-transform: uppercase;
    }
    a .active, a:hover{
        background-color: #1b9bff;
        transition: 5s;
    
    } 
    nav ul li a{
        font-size: 16px;

    } 
    
    

main {
    width: 100%;
    height: 100vh;
    background-image: url(all.png);
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    max-width: 500px;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
    max-width: 100%;
}

/* For Chrome, Firefox, Opera, Safari */
::placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


nav ul li {
    display: block;

}



nav ul li a{
font-size: 20px;
text-decoration: none;

}
a:hover, a.active{
/* background: none;
color: #0051e6; */
border: groove 4px;
    background: white;
    color: black;
text-decoration: none;


}











