/* body { */
    /* padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 39, 39);
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgb(180, 51, 73);
    /* background-color: gray; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}
input[type=submit]{
    margin: 10px auto;
    width: 120px;
    background: rgb(216, 31, 62);
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
background: tomato;
}
@media screen and (max-width:600px) {
    .container{
        width: 90%;
    }
}
nav{
    position: absolute;
    
    height: 2%;
    width: 100%;
    margin-top: 10%;
    
    
    
}
nav ul{
    float: right;
     margin-right: 100px;
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a{
        border-radius: 10px;
        color: black;
        font-size: 17px;
        text-transform: uppercase;
		word-spacing: 17%;
        background-color: #1b9bff;
    }
    a .active, a:hover{
        background-color: #1b9bff;
        transition: 5s;
    
    } 
    nav ul li a{
        font-size: 16px;

    } 
   
    nav ul li {
        display: block;

	}
    
    

nav ul li a{
    font-size: 20px;

}
a:hover, a.active{
    /* background: none;
    color: #0051e6; */
    /* border: groove 4px; */
        background: white;
        color: black;
    


}
nav ul li {
    display: block;

}



nav ul li a{
font-size: 20px;
text-decoration: none;

}
a:hover, a.active{
/* background: none;
color: #0051e6; */
/* border: groove 4px; */
    background: white;
    color: black;
text-decoration: none;


}


















    
    
    
    
